<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= bjj.name %></title>
</head>
<body>
    <h1>Edit Bjj Move</h1>
    <form action="/bjj/<%= bjj._id %>?_method=put" method="POST">
        <input type="text" name="name" placeholder="Name of Move" value="<%= bjj.name %>"/>
        <input type="text" name="position" placeholder="Name of position" value="<%= bjj.position %>"/>
        <input type="text" name="movement" placeholder="Name of Movement" value="<%= bjj.movement %>"/>
        <input type="text" name="name" placeholder="Name of Move" value="<%= bjj.name %>"/>
    
    Learned: <input type="checkbox" name="extinct" value="<%= bkk.completed ? "checked" : "" %>"/>
        <input type="submit" value="Add New Move"/>
    </form>
</body>
</html>