<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BJJ Moves</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="create-button">
        <a href="move/new"><button>Add New Move</button></a>
    </div>

    <h2>Moves</h2>
    <div class="index-container">
        <% moves.forEach((move, index) => { %>
            <div class="index-items">
                <a href="/move/<%= move._id %>" class="no-underline">Move: <%= move.name %></a>
                <p class="type">Type: <%= move.type %></p>
                <p class="description">Description: <%= move.description %></p>
                <p class="points">Points: <%= move.points %></p>
                <div class="img-container">
                    <img class="static" src="<%= move.img %>">
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>