<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BJJ Moves</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="welcome-back-title">
        <p>Welcome back <%= user %></p>
    </div>

    <a href="/user/logout"><button class="logout-button">Logout</button></a>
    <a href="move/new"><button class="add-move-button">Add New Move</button></a>
    


    <div class="index-container">
        <% moves.forEach((move, index) => { %>
          <div class="move-item">
            <a href="/move/<%= move._id %>" class="no-underline"><%= move.name %></a>
            <div class="move-details">
              <p class="type">Type: <%= move.type %></p>
              <p class="description">Description: <%= move.description %></p>
              <p class="points">Points: <%= move.points %></p>
            </div>
            <div class="img-container play-on-hover">
              <img class="static" src="<%= move.img %>">
            </div>
          </div>
        <% }) %>
      </div>   
      
      
</body>
</html>