<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= position.name %> - <%= movement.name %> - <%= submission.name %></title>
</head>
<body>
    <h1>Edit BJJ Move</h1>
    <% if (position) { %>
        <h2>Edit Position</h2>
        <form action="/positions/<%= position._id %>?_method=put" method="POST">
            <input type="text" name="name" placeholder="Name of Position" value="<%= position.name %>"/>
            <input type="text" name="img" placeholder="Image of Position" value="<%= position.img %>"/>
            <input type="submit" value="Update Position"/>
        </form>
    <% } %>
    
    <% if (movement) { %>
        <h2>Edit Movement</h2>
        <form action="/movements/<%= movement._id %>?_method=put" method="POST">
            <input type="text" name="name" placeholder="Name of Movement" value="<%= movement.name %>"/>
            <input type="text" name="img" placeholder="Image of Movement" value="<%= movement.img %>"/>
            <input type="submit" value="Update Movement"/>
        </form>
    <% } %>
    
    <% if (submission) { %>
        <h2>Edit Submission</h2>
        <form action="/submissions/<%= submission._id %>?_method=put" method="POST">
            <input type="text" name="name" placeholder="Name of Submission" value="<%= submission.name %>"/>
            <input type="text" name="img" placeholder="Image of Submission" value="<%= submission.img %>"/>
            <input type="submit" value="Update Submission"/>
        </form>
    <% } %> 
</body>
</html>