<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
    <h1>Bjj Moves</h1>

    <div class="create-button">
        <a href="move/new"><button>Add New Move</button></a>
    </div>

    <div class="index-container">
        <%= move.forEach((move, index) => { %>
    
    <div class="index-move">
        <a href="/move/<%= move._id %>" class="no-underline"><h2 class="index-name"><%= move.name %></h2></a>
        <img class="index-image" src="<%= move.img %>">
    </div>
       <% }) %>
    </div>
<body>
    
</body>
</html>