<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <div class="banner">
        <h1>BJJ Moves</h1>
    </div>

    <div class="button-container">
        <a href="/move"><button>Back</button></a>
        <a href="/move/<%= move._id %>/edit"><button>Edit</button></a>
    </div>

    <div class="delete-button">
        <form action="/move/<%= move._id %>?_method=delete" method="POST">
        <input type="submit" value="Delete">
        </form>    
    </div>

    <div class="position">
        <p>Position: <%= move.position.name %></p>
        <img src="<%= move.position.img %>">    
    </div>

    <div class="movement">
        <p>Movement: <%= move.movement.name %></p>
        <img src="<%= move.movement.img %>">   
    </div>

    <div class="submission">
        <p>Submission: <%= move.submission.name %></p>
        <img src="<%= move.submission.img %>">   
    </div>

    <div class="learned">
        <p>Learned: <%= move.completed %></p>
    </div>
</body>
</html>